<html>
    <head>
        <title>OddJobs</title>
    </head>
    <body>
        <div>
            <center>
                <h1>
                    <a href="">Welcome to Oddjobs</a>
                </h1>
                <h3><em>Any job you want</em></h3>
            </center>
        </div>
        <br />
	<ul>
    {% for listing in listings %}
        <div>
			<h2><a href="">{{ listing.title }}</a></h2>
			<i><p>published: {{ listing.created_date }}</p></i>
            <p>{{ listing.listing_dscr|linebreaksbr }}</p>		
		</div>
	{% endfor %}
    </ul>
    </body>
</html>